<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,800|Open+Sans&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <table>
            <tr class="dag">
                <th></th>
                <td colspan="2" class="dag">Tordsag</td>
            </tr>
            <tr class="trettio_minuter">
                <th>08:00 <br> - <br> 08:30</th>
                <td colspan="2" rowspan="1">Registrering <span>A-plan</span></td>
            </tr>
            <tr>
                <th>08:30 <br> - <br> 08:45</th>
                <td colspan="2" rowspan="1">Intro <span>Ordförande hälsar välkomna</span></td>
            </tr>
            <tr class="en_timme">
                <th>08:45 - 09:45</th>
                <td colspan="2" rowspan="1">Föreläsningaspass 1 <span>Flanke/Stensson</span></td>
            </tr>
            <tr  class="trettio_minuter">
                <th>09:45 <br> - <br> 10:15</th>
                <td colspan="2">Fika</td>
            </tr>
            <tr class="en_timme">
                <th>10:15 <br> - <br> 11:15</th>
                <td colspan="2">Föreläsningspass 2 <span>Klintbom</span></td>
            </tr>
            <tr>
                <th>11:15 <br> - <br> 11:30</th>
                <td colspan="2">Digitaliseringsprojekt <span>Ronnie Johansson</span></td>
            </tr>
            <tr class="en_timme">
                <th>11:30 <br> - <br> 12:30</th>
                <td colspan="1" class="grupp1">Lunch <br>Grupp 1<span>  E-plan</span></td>
                <td colspan="1">Digitaliserings <br> mässan<span>D-plan</span></td>
            </tr>
            <tr class="en_timme">
                <th>12:30 - 13:30</th>
                <td colspan="1">Digitaliserings<br>mässan<span>D-plan</span></td>
                <td colspan="1" class="grupp2">Lunch <br>Grupp 2<span>  E-plan</span></td>
            </tr>
            <tr class="en_timme">
                <th>13:30 - 14:30</th>
                <td colspan="2">Föreläsningspass 3 <span>Clara</span></td>
            </tr>
            <tr class="trettio_minuter">
                <th>14:30 <br> - <br> 15:00</th>
                <td colspan="2" >Fika</td>
            </tr>
            <tr class="en_timme"> 
                <th>15:00 - 16:00</th>
                <td colspan="2">Workshop</td>
            </tr>
            <tr>
                <th>16:00 <br> - <br> 16:15</th>
                <td colspan="2">Utvärdering + info för kvällen</td>
            </tr>
            <tr class="break">
                <th>16:30 - 19:00</th>
                <td colspan="2">Rast/Egen tid</td>
            </tr>
            <tr class="break">
                <th>19:00 -</th>
                <td colspan="2">Middag <span>Stenungsbaden</span></td>
            </tr>

        </table>
    </body>
</html>