body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    text-align: center;
}

#scoreText {
    left: 46%;
    font-size: 80px;
}

#startText {
    top: 10%;
}

#endText {
    top: 25%;
}