@font-face {
	font-family: Silkscreen;
	src: url("resources/fonts/silkscreen/slkscr.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;

	/* hide scrollbars */
	overflow: hidden;
}
