@font-face {
	font-family: OpenSans;
	src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	/*background-color: #333;*/
}

h1 {
	font-family: Montserrat;
}

p {
	font-family: OpenSans;
}

#logo-tc {
	width: 100%;
	padding: 0;
	margin: 2em 0;
	color: rgba(0,0,0,0);
	text-align: center;
	background-color: rgba(0,0,0,0);
	background-image: url("tc_logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 8em;
}

#logo-tk {
	width: 100%;
	padding: 0;
	margin: 2em 0;
	color: rgba(0,0,0,0);
	text-align: center;
	background-color: rgba(0,0,0,0);
	background-image: url("tk_logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 8em;
}

#logo-img {
	width: 40%;
	margin: 0 auto;
	padding: 3em 1em;
}

#wrapper {
	display: flex;
	flex-direction: column;
	/*background-color: #000;*/
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0);
	
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,0);
}

.body-text {
	font-family: OpenSans;
	color: #4789C6;
}

.body-text span {
	color: #444;
}

.social-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.social-icon {
	color: #444;
	padding: 0;
	margin: 0 0.3em;
	font-size: 2.5em;
}

.text-centered {
	text-align: center;
}

.space-bottom-1 {
	margin-bottom: 2.5em;
}

.space-top-1 {
	margin-top: 2em;
}

#cards-wrapper
{
	display: flex;
	flex-direction: row;
	/*background-color: #000;*/
	justify-content: space-evenly;
	background-color: rgba(0,0,0,0);
	
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,0);
}


nav {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	font-family: OpenSans;
	margin: 0;
	padding: 1.5em 0;
	position: fixed;
	bottom: 0;
	z-index: 20;
	width: 100%;
}

#home-button {
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	text-decoration: none;
	padding: 0;
	margin: -0.3em 0 0 0;
	width: 2.3em;
	text-align: center;
}


#tc-navbar {
	background-color: #214574;
}

#tk-navbar {
	background-color: #489863;
}

.navbar a {
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

.navbar a i {
	width: 2.3em;
}

.navbar a:visited {
	color: #FFF;
}

.navbar a:active {
	color: #CCC;
	-webkit-tap-highlight-color: transparent;
}


.card-container {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	color: #FFF;
	width: 50vw;
	background-color: rgba(0,0,0,0);
}

a.special {
	margin-bottom: 5em;
}


/*För mobiler*/
.card:active:before, .card-top:active:before {
	opacity: 0.4;
}

/*För datorer
.card:hover:before, .card-top:hover:before {
	cursor: pointer;
	opacity: 0.4;
}*/

.card {
	display: block;
	position: relative;
	color: rgba(0,0,0,0);
	font-family: OpenSans;
	padding: 2.5em 0 4em 0;
	margin: 0.5em auto 0 auto;
	border-radius: 0.3em;
	width: 95%;
	overflow: hidden;
	
	/*background-image: url("shrek.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card-top
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: relative;
	color: rgba(0,0,0,0);
	font-family: OpenSans;
	font-size: 1.15em;
	padding: 3em 0 3em 0;
	margin: 0.5em auto 0 auto;
	border-radius: 0.3em;
	width: 97.5%;
	overflow: hidden;
	
	background-image: url("img/1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.card-top:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	position: absolute;
	display: block;
	/*background-color: #31b1b1;*/
	background: linear-gradient(152deg, rgba(49,177,177,1) 0%, rgba(49,177,177,1) 30%, rgba(1,61,61,1) 71%);
	opacity: 0.7;
	content: "";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*transition: opacity 0.2s;*/
}



.card-blue:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	position: absolute;
	display: block;
	/*background-color: #4287f5;*/
	background: linear-gradient(152deg, rgba(66,135,245,1) 0%, rgba(66,135,245,1) 20%, rgba(1,45,116,1) 61%);
	opacity: 0.7;
	content: "";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*transition: opacity 0.2s;*/
}

.card-gray:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	position: absolute;
	display: block;
	/*background-color: #555555;*/
	background: linear-gradient(152deg, rgba(87,87,87,1) 20%, rgba(85,85,85,1) 30%, rgba(15,15,15,1) 60%);
	opacity: 0.7;
	content: "";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*transition: opacity 0.2s;*/
}

.card-orange:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	position: absolute;
	display: block;
	/*background-color: hsl(41, 100%, 41%);*/
	background: linear-gradient(152deg, rgba(211,145,0,1) 0%, rgba(211,145,0,1) 20%, rgba(119,61,1,1) 61%);
	opacity: 0.7;
	content: "";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*transition: opacity 0.2s;*/
}


.no-select {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.card p {
	position: absolute;
	display: inline-block;
	top: 0.8em;
	left: 1em;
	
	color: #FFF;
	font-family: OpenSans;
	font-weight: 900;
	padding: 0;
	margin: 0;
	text-align: left;
	
	width: auto;
	height: auto;
	text-decoration: none;
	overflow-wrap: break-word;
	
}

.card-top p {
	/*position: absolute;*/
	display: inline-block;
	/*top: 0.8em;
	left: 1em;*/
	
	color: #FFF;
	z-index: 5;
	font-family: OpenSans;
	font-weight: 900;
	padding: 0;
	margin: 0;
	text-align: left;
	
	width: auto;
	height: auto;
	text-decoration: none;
	overflow-wrap: break-word;
	
}

.card:active {
	background-color: #CCC;
}

.card-blue {
	background-color: #4789c6;
}

.card-gray {
	background-color: #555555;
}

.card-orange {
	background-color: #d39100;
}